---
# tasks file for install-cilium
  - name: Download Cilium
    ansible.builtin.shell: |
      CILIUM_CLI_VERSION=$(curl -s https://raw.githubusercontent.com/cilium/cilium-cli/main/stable.txt)
      CLI_ARCH=amd64
      if [ "$(uname -m)" = "aarch64" ]; then CLI_ARCH=arm64; fi
      curl -L --fail --remote-name-all https://github.com/cilium/cilium-cli/releases/download/${CILIUM_CLI_VERSION}/cilium-linux-${CLI_ARCH}.tar.gz{,.sha256sum}
      sha256sum --check cilium-linux-${CLI_ARCH}.tar.gz.sha256sum
      sudo tar xzvfC cilium-linux-${CLI_ARCH}.tar.gz /usr/local/bin
      rm cilium-linux-${CLI_ARCH}.tar.gz cilium-linux-${CLI_ARCH}.tar.gz.sha256sum
    register: cilium_download

  - name: Check if Cilium is Installed
    ansible.builtin.shell: cilium version | grep "cilium image (running):"
    register: cilium_running

  - name: Cilium Version Check Output
    ansible.builtin.debug:
      msg:
      - "{{ cilium_running.stdout }}"

  - name: Install Cilium
    ansible.builtin.shell: cilium install --version {{ cilium_version }} --set-string ipam.operator.clusterPoolIPv4PodCIDRList={{ clusterPoolIPv4PodCIDRList }}
    when: "'unknown. Unable to obtain cilium version. Reason: release: not found' in cilium_running.stdout" # this means that the task will only when on the condition cilium is not installed on the kubernetes cluster