---
# tasks file for prerequisites
  - name: Disable Swap
    ansible.builtin.shell: swapoff -a

  - name: Change hostname
    ansible.builtin.hostname:
      name: "{{ inventory_hostname }}" # this is a variable that Ansible provides automatically
    
  - name: Apt Upgrade
    ansible.builtin.apt:
      update_cache: true
      upgrade: full

  - name: Enable IP Forwarding
    ansible.builtin.shell: |
      cat <<EOF | tee /etc/sysctl.d/k8s.conf
      net.ipv4.ip_forward = 1
      EOF

      sysctl --system