- name: prerequisites
  hosts: tag_control_plane:tag_worker_node
  become: true
  roles:
    - ../roles/1-prerequisites

- name: install-containerd
  hosts: tag_control_plane:tag_worker_node
  become: true
  roles:
    - ../roles/2-install-containerd

- name: install-kubernetes
  hosts: tag_control_plane:tag_worker_node
  become: true
  vars_files:
  - ../variables.yml
  roles:
    - ../roles/3-install-kubernetes

- name: initialise-kubeadm
  hosts: tag_control_plane
  become: true
  roles:
    - ../roles/4-initialise-kubeadm

- name: join-workers-to-cluster
  hosts: tag_worker_node
  become: true
  roles:
    - ../roles/5-join-workers-to-cluster

- name: install-cilium
  hosts: tag_control_plane
  vars_files:
  - ../variables.yml
  roles:
    - ../roles/6-install-cilium